	body {
		line-height: 1;
	}
/* unvistied link */
a:link {
	color: white;
	text-decoration: none;
}

/* visited link */
a:visited {
	color: white;
	text-decoration: none;
}

/* Box Model */

	*, *:before, *:after {
		-moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;
		box-sizing: border-box;
	}

/* Basic */

	@-ms-viewport {
		width: device-width;
	}

	body {
		-ms-overflow-style: scrollbar;
	}

	@media screen and (max-width: 480px) {

		html, body {
			min-width: 320px;
		}

	}

	body {
		background: #000000;
	}


/* Type */

	body, select, textarea {
		color: rgb(255, 255, 255);
		font-family: "Courier New", sans-serif;
		font-size: 13pt;
		font-weight: 300;
		line-height: 1.70;
	}

		}

	strong, b {
		color: #fff;
		font-weight: 400;
	}


	p {
		margin: 0 0 2em 0;
	}

	h1, h2, h3, h4, h5, h6 {
		color: #fff;
		font-weight: 500;
		line-height: 1.5;
		margin: 0 0 1em 0;
	}

	.align-left {
		text-align: left;
	}

	.align-center {
		text-align: center;
	}

	.align-right {
		text-align: right;
	}

/* Box */

	.thumbnails {
		display: -moz-flex;
		display: -webkit-flex;
		display: -ms-flex;
		display: flex;
		-moz-align-items: stretch;
		-webkit-align-items: stretch;
		-ms-align-items: stretch;
		align-items: stretch;
		-moz-justify-content: center;
		-webkit-justify-content: center;
		-ms-justify-content: center;
		justify-content: center;
		-moz-flex-wrap: wrap;
		-webkit-flex-wrap: wrap;
		-ms-flex-wrap: wrap;
		flex-wrap: wrap;
	}

		.thumbnails .box {
			margin: 0 1em 2em 1em;
			width: 30%;
		}

			@media screen and (max-width: 1280px) {

				.thumbnails .box {
					width: 45%;
				}

			}

			@media screen and (max-width: 736px) {

				.thumbnails .box {
					width: 100%;
				}

			}


/* Box */

	.box {
		border-radius: 4px;
		margin-bottom: 2em;
		background: #191919;
		text-align: center;
	}

		.box .image.fit {
			margin: 0;
		}

		.box .image img {
			border-radius: 4px 4px 0 0;
		}

		.box .inner {
			padding: 1.5em;
			width: 100% !important;
		}

			@media screen and (max-width: 480px) {

				.box .inner {
					padding: 1em;
				}

			}

/* Button */

	input[type="button"],
	button,
	.button {

		background-color: #a52a2a;
		border-radius: 4px;
		border: 0;
		color: #ffffff !important;
		cursor: pointer;
		display: inline-block;
		font-weight: 400;
		height: 2.85em;
		line-height: 2.95em;
		padding: 0 1.5em;
		text-align: center;
		text-decoration: none;
		white-space: nowrap;
	}

		input[type="button"]:active,
		button:active,
		.button:active {
			background-color: #a52a2a;
		}


		input[type="button"].icon,
		button.icon,
		.button.icon {
			padding-left: 1.35em;
		}

			input[type="button"].icon:before,
			button.icon:before,
			.button.icon:before {
				margin-right: 0.5em;
			}

		input[type="button"].fit,
		button.fit,
		.button.fit {
			display: block;
			margin: 0 0 1em 0;
			width: 100%;
		}

		input[type="button"].small,
		button.small,
		.button.small {
			font-size: 0.8em;
		}


		input[type="button"].big,
		button.big,
		.button.big {
			font-size: 1.35em;
		}

		input[type="button"].style2,
		button.style2,
		.button.style2 {
			background-color: #a52a2a;

			}

			input[type="button"].style2:active,
			button.style2:active,
			.button.style2:active {
				background-color: #a52a2a;
			}


		input[type="button"].style3,
		button.style3,
		.button.style3 {
			background-color: #a52a2a;
		}


			input[type="button"].style3:active,
			button.style3:active,
			.button.style3:active {
				background-color: #a52a2a;
			}

		@media screen and (max-width: 480px) {


			input[type="button"],
			button,
			.button {
				padding: 0;
			}

		}

/* Banner */

	#banner {
		background-image: url("https://backgroundcheckall.com/wp-content/uploads/2018/10/christmas-tree-bokeh-background-5.jpg");
		display: flex;
		-moz-justify-content: center;
		-webkit-justify-content: center;
		-ms-justify-content: center;
		justify-content: center;
		padding: 8em 4em 16em 4em;
		min-height: 80vh;
		background-position: center;
		background-size: cover;
		border-top: 0;
		position: relative;
		text-align: center;
	}

		#banner2 {
			background-image: url("https://media.istockphoto.com/photos/dark-christmas-background-with-small-lights-place-for-text-blank-for-picture-id1071375818?k=6&m=1071375818&s=612x612&w=0&h=WYGLbJ95dsYVQ1nSZFuUYdtenQCOxXy1Ue3p-mwkAX0=");
			display: flex;
			-moz-justify-content: center;
			-webkit-justify-content: center;
			-ms-justify-content: center;
			justify-content: center;
			padding: 8em 4em 16em 4em;
			min-height: 80vh;
			background-position: center;
			background-size: cover;
			border-top: 0;
			position: relative;
			text-align: center;
		}

		#banner .inner {
			text-align: center;
			position: relative;
			z-index: 2;
		}

		#banner2 .inner {
			text-align: center;
			position: relative;
			z-index: 2;
		}

		#banner h1 {
			color: #fff;
			font-size: 5em;
			font-weight: 400;
			font-family: 'Passion One', cursive;
			margin: 0;
		}

		#banner2 h1 {
			color: #fff;
			font-size: 5em;
			font-weight: 400;
			font-family: 'Passion One', cursive;
			margin: 0;
		}

		#banner p {
			color: rgb(255, 255, 255);
			font-size: 1.5em;
			font-weight: 300;
		}

		#banner2 p {
			color: rgb(255, 255, 255);
			text-align: center;
			font-size: 1.5em;
			font-weight: 300;
		}

		#banner:before {
			-moz-transition: opacity 3s ease;
			-webkit-transition: opacity 3s ease;
			-ms-transition: opacity 3s ease;
			transition: opacity 3s ease;
			-moz-transition-delay: 1s;
			-webkit-transition-delay: 1s;
			-ms-transition-delay: 1s;
			transition-delay: 1s;
			content: '';
			background-color: #191919;
			display: block;
			height: 100%;
			left: 0;
			opacity: 0.45;
			position: absolute;
			top: 0;
			width: 100%;
			z-index: 1;
		}

		#banner2:before {
			-moz-transition: opacity 3s ease;
			-webkit-transition: opacity 3s ease;
			-ms-transition: opacity 3s ease;
			transition: opacity 3s ease;
			-moz-transition-delay: 1s;
			-webkit-transition-delay: 1s;
			-ms-transition-delay: 1s;
			transition-delay: 1s;
			content: '';
			background-color: #191919;
			display: block;
			height: 100%;
			left: 0;
			opacity: 1;
			position: absolute;
			top: 0;
			width: 100%;
			z-index: 1;
		}

/* Main */

	#main {
		padding: 4em 0 2em 0;
	}

		@media screen and (max-width: 736px) {

			#main {
				padding: 3em 0 1em 0;
			}

		}

		#main .inner {
			width: 90%;
			max-width: 80em;
			margin: 0 auto;
		}

			@media screen and (max-width: 480px) {

				#main .inner {
					width: 95%;
				}

			}

/* Footer */

	#footer {
		padding: 4em 0 2em 0;
		background-color: #000000;
		text-align: center;
	}

		#footer .inner {
			width: 50%;
			margin: 0 auto;
		}

			@media screen and (max-width: 980px) {

				#footer .inner {
					width: 75%;
				}

		}
